.image-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
  }
  
  .image-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* Adjust the border-radius */
  }