.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainWindow {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px; /* Adjust this value as needed */
  flex-grow: 1;
  position: relative; /* Add this line */
}

.contentWrapper::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('background_pepe.png');
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 16%;
}

body {
  overflow-x: hidden;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.logo{
  width: 40px;
  height: 40px;
  padding-right: 20px;
}

.eth{
  width: 20px;
  height: 20px;
  padding-right: 10px;

}

.leftH {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightH {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.headerItem {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.headerItem:hover {
  background-color: rgb(34, 42, 58);
  cursor: pointer;
}

.connectButton {
  background-color: #243056; 
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 100px;
  color: #5981F3;
  font-weight: bold;
  transition: 0.3s;
}

.connectButton:hover {
  cursor: pointer;
  color: #3b4874
}

.mainWindow {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: white;
}

.tradeBox {
  width: 400px;
  background-color: #0E111B;
  border: 2px solid #21273a;
  min-height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
}


.tradeBoxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.cog {
  color: #51586f;
  transition: 0.3s;
}

.cog:hover {
  color: white;
  rotate: 90deg;
  cursor: pointer;
}

.switchButton {
  background-color: #3a4157;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  position: absolute;
  top: 86px;
  left: 180px;
  color: #5F6783;
  border: 3px solid #0E111B;
  font-size: 12px;
  transition: 0.3s
}

.dollarAmount {
  position: absolute;
  top: 75px;
  left: 14px;
  font-size: 10px;
  color: #5F6783;
}

.switchButton:hover {
  color: white;
  cursor: pointer;
}

.inputs {
  position: relative;
}

.assetOne {
  position: absolute;
  min-width: 50px;
  height: 30px;
  background-color: #3a4157;
  top: 36px;
  right: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
}

.assetTwo {
  position: absolute;
  min-width: 50px;
  height: 30px;
  background-color: #3a4157;
  top: 135px;
  right: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
}

.assetOne:hover{
  cursor: pointer;
}

.assetTwo:hover{
  cursor: pointer;
}

.assetLogo {
  height: 22px;
  margin-left: 5px;
}

.swapButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #243056; 
  width: calc(100%);
  height: 55px;
  font-size: 20px;
  border-radius: 12px;
  color: #5981F3;
  font-weight: bold;
  transition: 0.3s;
  margin-bottom: 30px;
  margin-top: 8px;
}

.swapButton[disabled] {
  background-color: #243056;
  opacity: 0.4;
  color: #5982f39b;
}

.swapButton[disabled]:hover {
  cursor: not-allowed;
  background-color: #243056;
}

.swapButton:hover {
  cursor: pointer;
  background-color: #3b4874
}

.tokenLogo {
  height: 40px;
  width: 40px;
}

.modalContent {
  border-top: 1px solid #363e54;
  /* padding-top: 20px; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.tokenChoice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tokenChoice:hover {
  cursor: pointer;
  background-color: #1f2639;
}

.tokenName {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

.tokenTicker {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #51596f;
}

.addLiquidityBox {
  width: 400px;
  background-color: #0E111B;
  border: 2px solid #21273a;
  min-height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
}

.addLiquidityHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.assetInput {
  position: relative;
  margin-top: 20px;
  width: 100%;
}

.assetInput input {
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 5px 0;
  color: white;
  font-size: 16px;
  font-weight: 300;
  outline: none;
}

.assetInput::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #3a4157;
  position: absolute;
  bottom: 0;
}

.assetLogo {
  height: 22px;
  margin-left: 5px;
}

.addLiquidityButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #243056; 
  width: calc(100%);
  height: 55px;
  font-size: 20px;
  border-radius: 12px;
  color: #5981F3;
  font-weight: bold;
  transition: 0.3s;
  margin-bottom: 30px;
  margin-top: 8px;
}

.addLiquidityButton[disabled] {
  background-color: #243056;
  opacity: 0.4;
  color: #5982f39b;
}

.addLiquidityButton[disabled]:hover {
  cursor: not-allowed;
  background-color: #243056;
}

.addLiquidityButton:hover {
  cursor: pointer;
  background-color: #3b4874
}

.farms {
  width: 800px;
  margin: 0 auto;
}

.farm-cards {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.farm-card {
  /* padding: 20px;
  border: 1px solid #eee;
  border-radius: 12px; */
  
  background-color: #0E111B;
  border: 2px solid #21273a;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.farm-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.farm-card-top p {
  font-size: 18px;
}

.farm-card-top-right {
  display: flex;
  align-items: center; 
}

.farm-apy, 
.farm-earned {
  background: #205b78;
  border-radius: 8px;
  margin-left: 10px;
  padding: 8px 12px;
}

.farm-details {
  margin-top: 10px;
  font-size: 14px;
  color: #a2a2a2;  
}

.farm-filters {
  margin: 0 auto 20px;
}

.farm-filters input {
  width: 200px;
  height: 42px;
  padding: 0 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  margin-right: 20px;
} 

.farm-filters select {
  height: 42px;
  padding: 0 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  margin-right: 20px; 
}

.farm-filters button {
  height: 42px;
  padding: 0 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  background: #fff;  
}

.farm-filters button:hover {
  background: #eee;  
}


/* footer css */

.footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 32px 0;
  margin-top: 50px;
}

.footer h4 {
  margin-bottom: 16px;
}

.footer .list-group-item {
  background-color: transparent;
  border: none;
  padding: 0;
}

.footer .list-group-item + .list-group-item {
  margin-top: 8px;
}

.footer .follow-us {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer .copyright,
.footer .rights {
  margin-bottom: 0;
}

.footer-sections {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-section {
  flex-basis: 18%;
  max-width: 18%;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  display: block;
  margin-bottom: 0.5rem;
}

/* banner css */

.swapWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.carousel-root {
  width: 468px; /* Set the carousel width */
}

.carousel .carousel-slider {
  height: 60px; /* Set the carousel height */
}

.image-container {
  position: relative;
}

.image-title,
.image-description {
  position: absolute;
  color: #ffffff; /* Set the text color */
  background-color: rgba(46, 44, 44, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}

.image-title {
  top: 20px; /* Adjust the position from the top */
  left: 30px; /* Adjust the position from the left */
  right: 30px;
  font-size: 24px; /* Adjust the font size */
}

.image-description {
  top: 90px; /* Adjust the position from the top */
  left: 30px; /* Adjust the position from the left */
  font-size: 16px; /* Adjust the font size */
}

.discover-more-btn {
  position: absolute;
  bottom: 20px; /* Adjust the position from the bottom */
  left: 20px; /* Adjust the position from the left */

  /* background-color: #1e88e5;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; */

  background-color: #243056; 
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 100px;
  color: #5981F3;
  font-weight: bold;
  transition: 0.3s;
}

.discover-more-btn:hover {
  background-color: #1565c0; /* Change the background color on hover */
  transform: scale(1.05); /* Add a slight scaling effect on hover */
}

.discover-more-btn:focus {
  outline: none; /* Remove the outline when the button is focused */
}

/* ... existing CSS ... */

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

table th {
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px;
  border-bottom: 2px solid #21273a;
  background-color: #0E111B;
}

table td {
  padding: 12px;
  border-bottom: 1px solid #21273a;
  background-color: #243056;
}

table tr:nth-child(even) {
  background-color: #1c223a;
}

table tr:hover {
  background-color: #3b4874;
  cursor: pointer;
}


/* Price Movement Styles */
.price-increase {
  color: #4CAF50;
}

.price-decrease {
  color: #F44336;
}